.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.entry-content {
	color: white;
	font-size: 24px;
	padding: 32px;

	a {
		color: white;
	}
}

h1.site-title {
	color: white;
	text-align: center;
	a {
		color: white;
		text-decoration: none;
	}
}

.entry-content {
	max-width: 1200px;
	margin: 0 auto;
}