.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.entry-content {
	color: white;
	font-size: 24px;
	padding: 32px;
	@media screen and (max-width: 768px) {
			font-size: 18px;
			padding: 12px;
			max-width: 100%;
			overflow-x: hidden;
			ul {
				margin-left: 0;
				li {
					margin-left: 12px;
				}
			}
			a {
				word-break: break-all;
			}
	}

	a {
		color: white;
	}
}

h1.site-title {
	color: white;
	text-align: center;
	text-transform: uppercase;
	a {
		color: white;
		text-decoration: none;
	}
}

.entry-content {
	max-width: 1000px;
	margin: 0 auto;

	.wp-block-cover {
		margin-left: -100px;
		margin-right: -100px;
		width: auto;
	}

	.wp-block-cover p {
		font-weight: 700;
	}

	a {
		text-decoration: none;
		border-bottom: 1px dashed #f0f0f0;
		&:hover {
			border-bottom-style: solid;
		}
	}

	figcaption {
		font-size: 19px;
		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
	}

	@media screen and (max-width: 768px) {
		.wp-block-cover {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
			div.wp-block-cover__inner-container {
				p {
					font-size: 26px;
				}
			}
		}

	
	}
}
