nav#main-nav {
	opacity: 0;
	top: -100%;
	transition: all ease-in 0.4s;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 36px;	
	z-index: 1000;

	.menu {
		ul { 
			padding: 0;
			margin: 0;

			li {
				list-style: none;
				margin: 0 0 24px 0;
				padding: 0;
				a {
					color: white;
					font-size: 36px;
					font-weight: bold;
					text-decoration: none;
					text-transform: uppercase;

				}
			}
		}
	}
}

nav#main-nav.active {
	top: 0;
	opacity: 1;
}

#menuToggle {
	position: fixed;
	bottom: 12px;
	right: 12px;
	color: white;
	font-size: 32px;
	z-index: 1010;
	padding: 6px;
	text-align: center;
	cursor: pointer;
}